@import "../../styles/mixin";

.topic-reply-page {
  width: 100%;
  height: 100vh;

  .topic-reply-scroll {
    width: 100%;

    .comment-item {
      width: 100%;
      @include sc(30px, $color-big);
      display: flex;
      justify-content: space-between;
      transition: background-color 300ms ease-in;

      .comment-author {
        width: 130px;

        .author-avatar {
          margin-top: 20px;
          margin-left: 28px;
          width: 80px;
          height: 80px;
          border-radius: 50%;
        }
      }

      .content-container {
        width: 620px;


        .reply-data {
          margin-top: 15px;
          margin-right: 28px;
          height: 80px;
          display: flex;
          align-items: center;
          justify-content: space-between;

          .reply-info {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;

            .author-nickname {
              height: 40px;
              line-height: 40px;
              @include sc(32px, $color-big);
            }

            .comment-time {
              @include sc(26px, $color-small);
            }
          }

          .reply-btn {
            height: 100%;
            display: flex;
            align-items: center;

            .comment-icon {
              width: 28px;
              height: auto;
            }

            .praise-btn {
              margin-left: 50px;
              height: 100%;
              max-width: 100px;
              overflow: hidden;
              display: flex;
              align-items: center;
              justify-content: flex-start;
              color: $color-small;

              .praise-icon {
                width: 28px;
                height: auto;
                margin-right: 5px;
              }
            }
          }
        }

        .comment-content {
          margin: 10px 28px 10px 0;
          min-height: 50px;
          line-height: 40px;
          @include sc(32px, $color-big);

          .reply-name {
            display: inline-block;
            color: $color-theme;
          }

        }
      }
    }

    .comment-item_reply {
      background: $color-bg;

      .content-container {
        border-bottom: 2px solid $color-line-gray;
      }
    }

    .comment-item_reply:last-child {
      .content-container {
        border: none;
      }
    }

  }

  .has-praised {
    color: $color-theme;
  }

}
