@import "../../styles/mixin";

.opt-view {
  display: block;
  width: 100vw;
  height: 85px;

  .opt-list {
    width: 100%;
    height: 85px;
    white-space: nowrap;

    .opt-item {
      width: 88px;
      height: 75px;
      margin: 0 14px;
      line-height: 86px;
      display: inline-block;
      text-align: center;
      @include sc(30px, $color-big)
    }

    .opt-checked {
      border-bottom: 3px solid $color-theme;
      @include sc(32px, $color-theme)
    }
  }
}




