@import "../../styles/mixin";

.classify-page {
  width: 100%;
  background: $color-bg;

  .classify-item {
    width: 100%;
    height: 130px;
    border-bottom: 2px solid $color-line;
    background-color: $color-white;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    .item-icon {
      width: 130px;
      height: 130px;
      @include flex-wrap;

      .icon {
        width: 70px;
        height: 70px;
        border-radius: 50%;
      }
    }

    .item-content {
      .title {
        @include sc(32px, $color-big);
      }

      .desc {
        @include sc(24px, $color-small);
      }

    }
  }


}
