@import "../../styles/mixin";
@import "../../styles/menu";

.setup-page {
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  background: $color-bg;

  .at-column {
    margin-left: 20px !important;
  }

}
