@import "../../styles/mixin";
@import "../../styles/topic";

.city-topic-page {
  width: 100%;

  .topic-nav {
    padding: 0 28px 0 22px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 4px solid $color-line;
    //box-shadow:0Px 1Px 5Px $color-small;

    .nav-icon {
      width: 30px;
      height: auto;
    }

    .topic-city {
      width: 33.3%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start;

      .city-name {
        margin-left: 5px;
        height: 50px;
        line-height: 50px;
        @include sc(28px, $color-big);
        max-width: 180px;
        white-space: nowrap;
        overflow: hidden;
      }
    }

    .topic-type {
      width: 33.3%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      .type-item {
        padding: 0 10px;
        height: 60px;
        line-height:60px;
        text-align: center;
        @include sc(34px, $color-big);
      }

      .type-item_active {
        color: $color-theme;
        border-bottom: 4px solid $color-theme;
      }

      .type-item:last-child {
        margin-left: 40px;
      }
    }

    .topic-add {
      width: 33.3%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }

  }

  .topic-scroll {
    width: 100%;
    background: $color-bg;
  }



}
