@import "../../styles/mixin";

.cash-page {
  width: 100%;
  height: 100vh;

  .cash-list {
    width: 100%;
    background: $color-bg;

    .cash-item {
      width: 92.6%;
      height: 100px;
      padding: 0 3.7%;
      background: $color-white;
      border-bottom: 2px solid $color-line;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .cash-date {
        @include sc(32px, $color-big);
      }

      .cash-money {
        @include sc(30px, $color-theme);
        font-weight: bold;
      }

      .cash-state {
        @include sc(32px, $color-theme);
      }
    }
  }
}
