@import "../../styles/mixin";

.login-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;

  .logo {
    margin-top: 130px;
    width: 240px;
    height: 200px;
  }

  .input {
    width: 540px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 3px solid $color-line;
  }

  .icon {
    width: 55px;
    height: auto;
    margin-left: 10px;
  }

  .input-box {
    margin-left: 45px;
    font-size: 32px;
  }

  .phone {
    margin-top: 110px;
  }

  .code {
    margin-top: 10px;

    .code-input {
      width: 280px;
    }

    .code-btn {
      font-size: 30px;
      color: $color-theme;
      width: 215px;
      text-align: right;
    }
  }

  .pwd {
    margin-top: 10px;

    .see-icon {
      width: 60px;
      height: auto;
      margin-right: 0
    }
  }

  .login-btn {
    margin-top: 75px;
    width: 450px;
    height: 98px;
    line-height: 98px;
    text-align: center;
    @include sc(32px, $color-white);
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  .other-btn {
    margin-top: 15px;
    width: 450px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .other-desc {
      @include sc(28px, $color-small)
    }
  }


  .placeholder {
    font-size: 32px;
    color: $color-small;
  }

}
