@import "../../styles/mixin";

.textarea-layout {
  position: fixed;
  width: 100%;
  //height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  //margin-bottom: taro-tabbar-height;
  background-color: rgba(0, 0, 0, 0.3);
  visibility: hidden;
  z-index: 1000;
  transition: visibility 300ms cubic-bezier(0.36, 0.66, 0.04, 1);

  .textarea-layout__overlay {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 0;
    transition: opacity 150ms ease-in;
  }

  .textarea-layout__container {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100Px;
    font-size: 17Px;
    background-color: $color-bg;
    transform: translate3d(0, 100%, 0);
    transition: transform 300ms cubic-bezier(0.36, 0.66, 0.04, 1);
    display: flex;
    align-items: center;
    justify-content: center;

    .layout-body {
      width: 100%;
      height: 75%;
      @include sc(16Px, #F9F9F9);
      display: flex;
      align-items: center;
      justify-content: flex-end;

      .textarea-input {
        width: 80%;
        height: 100%;
        padding: 3Px 5Px;
        border-radius: 3Px;
        background: $color-white;
        color: $color-big;
        border: none;
      }

      .layout-btn {
        width: 11%;
        height: 100%;
        padding-left: 10Px;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: space-between;

        .cancel {
          height: 30Px;

          .hide-img {
            width: 18Px;
            height: 18Px;
          }
        }

        .confirm {
          width: 100%;
          padding-top: 40Px;
          height: 20Px;
          color: #C1C1C1;
        }
      }
    }

  }

}

.textarea-layout--active {
  visibility: visible;

  .textarea-layout__container {
    transform: translate3d(0, 0, 0);
  }
}

