@import "../../styles/mixin";

.pdd-detail-page {
  width: 100%;
  height: 100vh;
  position: relative;

  .goods-content {
    width: 100%;
    background: $color-bg;

    .goods-banner-swiper {
      width: 750px;
      height: 750px;

      .goods-banner {
        width: 750px;
        height: 750px;
        overflow-y: hidden;
      }
    }

    .goods-discount {
      padding: 10px 14px 0px;
      height: 60px;
      width: auto;
      background: $color-white;
      display: flex;
      align-items: center;
      justify-content: space-between;
      text-align: center;
      font-size: 30px;

      .discount-title {
        width: 100px;
        background: $color-theme;
        color: $color-white;
      }

      .discount-receive {
        border: 2px solid $color-theme;
        border-radius: 4px;
        color: $color-theme-3;
        padding: 0 8px;
      }

      .present-price {
        @include sc(36px, $color-big);
        margin-left: 4px;
      }

      .original-price {
        color: $color-small;
        margin-left: 30px;
        text-decoration: line-through;
      }

      .goods-sales {
        color: $color-small;
      }
    }

    .goods-desc {
      padding: 0 14px;
      height: 90px;
      @include sc(32px, $color-big);
      background: $color-white;
    }

    .goods-coupon-data {
      padding: 10px 14px;
      height: 64px;
      font-size: 32px;
      line-height: 64px;
      background: $color-white;

      .coupon-name {
        width: 46px;
        height: 40px;
        line-height: 40px;
        background: $color-theme-3;
        color: $color-white;
        display: inline-block;
        text-align: center;
      }

      .coupon-price {
        margin-left: 10px;
        color: $color-theme-3;
      }

      .coupon-remain {
        padding: 0 10px;
        font-size: 24px;
        color: $color-small;
        margin-left: 30px;
      }

    }

    .task-content {
      margin-top: 20px;
      height: 260px;
      background: $color-white;
      padding: 0 14px;

      .task-title {
        @include sc(34px, $color-big);
        height: 80px;
        line-height: 80px;
      }

      .task-desc {
        @include sc(28px, $color-small);
        padding-left: 10px;
      }
    }
  }

  .goods-btn {
    width: 100%;
    @include flex-wrap;
    text-align: center;

    button {
      border-radius: 0;
      border: none;
      outline: none;
    }

    .btn-buy {
      width: 50%;
      height: 100%;
      @include flex-wrap;
      flex-direction: column;
      justify-content: space-between;
      background-color: $color-theme-2;
      color: $color-white;
    }

    .btn-buy-now {
      width: 100%;
      height: 100%;
      @include flex-wrap;
      flex-direction: column;
      justify-content: space-between;
      background-color: $color-theme;
      color: $color-white;
    }

    .btn-share {
      width: 50%;
      height: 100%;
      @include flex-wrap;
      flex-direction: column;
      justify-content: space-between;
      background-color: $color-theme-3;
      color: $color-white;

    }

    .btn-name {
      height: 60px;
      font-size: 36px;
      line-height: 70px;
    }

    .btn-desc {
      height: 60px;
      font-size: 29px;
      line-height: 40px;
    }

  }

  .pdd-guide {
    bottom: 140Px;
  }


}
