@import "mixin";

/*隐藏滚动条*/
::-webkit-scrollbar {
  width: 0;
  height: 0;
  color: transparent;
}

.stop-scroll {
  overflow: hidden;
}

.scroll-container {
  width: 100%;
  height: 100%;
}

.more-btn {
  width: 18px;
  height: auto !important;
}

.font-icon {
  width: 40px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  display: inline-block;
  border-radius: 6px;
  font-size: 24px;
}

.hot {
  color: #F31E00;
  border: 2px solid #F31E00;
}

.new {
  color: #62EC46;
  border: 2px solid #62EC46;
}

button {
  background: #fff;
  outline: none;
  border: none;
  border-radius: 0;
  position: relative;
}

.hidden {
  display: none !important;
}

.guide-container {
  height: 50Px;
  position: absolute;
  z-index: 666;
  bottom: 50Px;
  right: 0;
  display: flex;
  align-items: center;

  .guide-btn {
    width: 45Px;
    height: 45Px;
    background: $color-theme;
    @include sc(12Px, $color-bg);
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 3Px;
    border-bottom-left-radius: 3Px;

    .btn-name {
      width: 25Px;
      text-align: center;
      line-height: 16Px;
    }
  }

  .guide-content {
    height: 45Px;
    background: $color-theme;
    color: $color-white;
    line-height: 16Px;
    display: flex;
    align-items: center;

    .guide-home {
      width: 45Px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: 24px;
    }
  }
}

