@import "./mixin";

.bln-logo {
  margin-top: 130px;
  width: 240px;
  height: 200px !important;
}

.logo-title {
  margin-top: 130px;
  @include sc(60px, $color-big);
}

.input-top {
  margin-top: 110px !important;
}

.input-container {
  width: 540px;
  height: 80px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid $color-line;

  .input-left {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    .icon {
      width: 55px;
      height: auto;
      margin-left: 10px;
    }

    .input-box {
      margin-left: 40px;
      font-size: 32px;
      width: 250px;
    }

    .input-address {
      margin-left: 40px;
      font-size: 32px;
      width: 400px;
    }
  }

  .input-right {
    width: 180px;
    height: 100%;
    @include sc(30px, $color-theme);
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .code-desc {
      height: 60px;
      line-height: 60px;
      text-align: right;
    }

    .pwd-state {
      width: 50px;
      height: auto;
    }

  }

  input::-webkit-input-placeholder {
    color: $color-small;
  }
  input:-moz-placeholder {
    color: $color-small;
  }
  input::-moz-placeholder {
    color: $color-small;
  }
  input::-ms-input-placeholder {
    color: $color-small;
  }


  .input-placeholder {
    font-size: 32px;
    color: $color-small !important;
  }

}

.login-btn {
  margin-top: 85px;
  width: 440px;
  height: 90px;
  line-height: 90px;
  border-radius: 45px;
  text-align: center;
  @include sc(32px, $color-white);
  background: $color-theme;
}

.other-btn {
  margin-top: 15px;
  width: 450px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .other-desc {
    @include sc(28px, $color-line-gray)
  }
}

.login-btn--disabled {
  background: $color-line-gray;
}

.current-login {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quick-login {
  width: 100%;

  .quick-title {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;

    .quick-line {
      width: 110px;
      height: 1Px;
      background: $color-line;
    }

    .quick-desc {
      height: 50px;
      line-height: 50px;
      margin: 0 40px;
      @include sc(24px, $color-small);
    }
  }

  .quick-btn {
    width: 100%;
    display: flex;
    justify-content: center;

    .quick-icon {
      width: 40Px;
      height: 40Px;
    }

    .quick-button {
      margin-top: 20px;
      border-radius: 0;
      border: none;
      outline: none;
      background: $color-white;
      display: flex;
      justify-content: center;
    }
  }

  .service-agreement {
    margin-top: 40px;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    @include sc(24px, $color-small);

    .service-desc {
      height: 100%;
      line-height: 40px;
    }

    .service-btn {
      height: 100%;
      line-height: 40px;
      color: $color-theme;
    }
  }

}

