@import "./mixin";

.menu-item {
  padding: 0 25px 0 28px;
  height: 100px;
  background: $color-white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid $color-line;

  .menu-left {
    height: 100%;
    display: flex;
    align-items: center;

    .menu-icon {
      width: 36px;
      height: auto;
      margin-right: 28px;
    }

    .menu-name {
      @include sc(30px, $color-big);
    }
  }

  .menu-right {
    height: 100%;
    display: flex;
    align-items: center;

    .detail-btn {
      width: 18px;
      height: 33px;
    }

  }

}

.menu-first {
  margin-top: 10px;
}
