@import "./mixin";

.topic-item {
  padding: 0 28px;
  background: $color-white;

  .topic-author {
    width: 100%;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .author-info {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start;

      .author-avatar {
        width: 80px;
        height: 80px;
        border-radius: 50%;
      }

      .author-info {
        width: 300px;
        margin-left: 20px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;

        .author-name {
          @include sc(32px, $color-big);
          line-height: 50px;
          @include ellipsis;
        }

        .topic-date {
          @include sc(26px, $color-small);
          line-height: 36px;
          @include ellipsis;
        }
      }
    }

    .topic-btn {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start;

      .topic-follow {
        width: 90px;
        height: 46px;
        line-height: 48px;
        text-align: center;
        border: 2px solid $color-theme;
        border-radius: 6px;
        @include sc(24px, $color-theme);
      }

      .topic-more {
        width: 60px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        .more-icon {
          width: 28px;
          height: auto;
        }
      }

    }
  }

  .topic-content {
    margin-top: 8px;
    @include sc(32px, $color-big);
    line-height: 44px;
    word-wrap: break-word;
  }

  .topic-media {
    width: 100%;

    .topic-img-list {
      display: flex;
      flex-wrap: wrap;

      .topic-img-box {
        width: 33.33%;
        @include flex-wrap;

        .topic-img {
          margin-top: 10px;
          width: 220px;
          height: 220px;
        }
      }
    }
  }

  .topic-hits {
    margin-top: 20px;
    height: 50px;
    line-height: 50px;
    @include sc(24px, $color-small);
  }

  .topic-data {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .topic-data-item {
      width: 200px;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      .topic-data-icon {
        width: 26px;
        height: auto;
      }

      .topic-data-num {
        height: 50px;
        line-height: 50px;
        margin-left: 10px;
        @include sc(24px, $color-big);
      }

      .topic-data-item_checked {
        color: $color-theme;
      }
    }
  }
}

.list-item {
  margin-bottom: 10px;
}
