@import "../../styles/mixin";

.home-page {
  width: 100%;
  height: 100%;
  overflow: hidden;

  .act-type {
    width: 100%;
    border-bottom: 2px solid $color-line;
    display: flex;
    align-items: center;
    overflow-x: scroll;
    white-space: nowrap;

    .type-item {
      height: 65px;
      line-height: 70px;
      margin-left: 30px;
      @include sc(30px, $color-big);
      display: inline-block;
      text-align: center;
    }

    .checked {
      border-bottom: 4px solid $color-theme;
      @include sc(32px, $color-theme)
    }

  }

  .act-list {
    width: 100%;
    position: relative;

    .activity-item {
      height: 210px;
      margin: 0 28px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 2px solid $color-line;

      .item-image {
        width: 33%;
        height: 100%;
        display: flex;
        align-items: center;

        .act-logo {
          width: 100%;
          height: auto;
          max-height: 160px;
          overflow: hidden;
        }
      }

      .item-content {
        width: 67%;
        padding: 24px 0 24px 20px;

        .item-title {
          height: 84px;
          line-height: 44px;
          @include sc(32px, $color-big);
          white-space: normal;
          word-wrap: break-word;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
          overflow: hidden;
        }

        .item-desc {
          height: 40px;
          line-height: 48px;
          @include sc(24px, $color-theme);
        }

        .item-data {
          height: 48px;
          @include sc(28px, $color-small);
          display: flex;
          align-items: center;
          justify-content: space-between;

          .data-detail {
            display: flex;
            align-items: center;

            .title-icon {
              width: 44px;
              height: 34px;
              margin-right: 10px;
              line-height: 34px;
              text-align: center;
              border-radius: 4px;
            }
          }

          .share-btn {
            height: 100%;
            width: 150px;
            display: flex;
            align-items: center;
            position: relative;

            .share-img {
              width: 150px;
              height: auto;
            }

            .share-msg {
              height: 100%;
              width: 100%;
              line-height: 46px;
              text-align: center;
              position: absolute;
              top: 0;
              left: 0;
              z-index: 1;
              @include sc(24px, $color-white);
            }
          }
        }

        .hot {
          color: #F31E00;
          border: 2px solid #F31E00;
          border-radius: 4px;
        }

        .new {
          color: #62EC46;
          border: 2px solid #62EC46;
          border-radius: 4px;
        }
      }

    }

    .refresh-btn {
      position: absolute;
      width: 110px;
      height: 110px;
      border-radius: 50%;
      bottom: 80px;
      right: 40px;
      z-index: 2;
      display: flex;
      align-items: center;
      justify-content: center;
      animation: rotate .4s linear infinite paused;

      .refresh-img {
        width: 100%;
        height: auto;
      }
    }

    .loading {
      animation-play-state: running
    }

    @keyframes rotate{from{transform: rotate(0deg)}
      to{transform: rotate(359deg)}
    }

  }

}
