@import "../../styles/mixin";
@import "../../styles/topic";

.my-topic-page {
  width: 100%;
  height: 100vh;
  background: $color-bg;

  .my-info {
    width: 100%;
    background: $color-white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .avatar {
      width: 120px;
      height: 120px;
      border-radius: 50%;
    }

    .nickname {
      height: 80px;
      line-height: 80px;
      @include sc(30px, $color-big);
    }

    .my-topic {
      height: 60px;
      line-height: 60px;
      @include sc(26px, $color-theme);
      display: flex;
      align-items: center;
      justify-content: center;

      .my-attention {
        height: 100%;
        margin-right: 60px;
      }
      .line {
        width: 1Px;
        height: 30px;
        background: $color-theme;
      }
      .topic-num {
        height: 100%;
        margin-left: 60px;
      }
    }
  }

  .total-topic {
    padding: 0 28px;
    @include sc(26px, $color-big);
  }

  .topic-scroll {
    width: 100%;
    background: $color-bg;
  }

  .no-topic {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    .none-icon {
      margin-top: 250px;
      width: 300px;
      height: auto;
    }

    .none-title {
      height: 40px;
      @include sc(32px, $color-small);
    }

  }



}



