@import "../../styles/mixin";
@import "../../styles/menu";

.help-page {
  width: 100%;
  height: 100vh;
  background: $color-bg;

  .customer-service {
    width: 100%;
    height: 130px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    @include sc(24px, $color-small);

    .customer-item {
      margin-left: 28px;
      height: 40px;
      line-height: 40px;
      display: flex;
      align-items: center;
      justify-content: flex-start;

      .customer-title {
        height: 100%;
        width: 180px;
        text-align: right;
      }

      .mobile {
        text-decoration: underline;
      }

      .customer-content {
        margin-left: 10px;
        height: 100%;
        color: $color-theme;
      }

    }

  }

}

.web-view-page {
  width: 100%;
  height: 100vh;
}


