@import "../../styles/mixin";

.business-apply-page {
  padding: 0 28px;
  width: auto;
  height: 100vh;

  .apply-scroll {
    width: 100%;

    .apply-item {
      width: 100%;
      height: 100px;
      border-bottom: 2px solid $color-line;
      display: flex;
      align-items: center;
      justify-content: flex-start;

      .item-label {
        height: 100%;
        display: flex;
        align-items: center;
        white-space: nowrap;
        @include sc(30px, $color-big);

        .must-icon {
          margin-right: 10px;
          width: 14px;
          height: auto;
        }
      }

      .item-input {
        margin-left: 20px;
        height: 100%;
        display: flex;
        align-items: center;
        @include sc(24px, $color-small);

        .input-field {
          font-size: 24px;
        }

        .add-icon {
          width: 100px;
          height: 100px;
        }

        .item-desc {
          width: 450px;
          height: 50px;
          line-height: 50px;
          text-align: left;
          @include ellipsis;
        }

      }
    }

    .apply-icon {
      height: 140px;
    }

  }

  .btn-content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .apply-btn {
      width: 100%;
      height: 75px;
      line-height: 75px;
      text-align: center;
      background: $color-theme;
      border-radius: 5px;
      @include sc(32px, $color-white);
    }

    .apply-ing {
      background: $color-theme-disabled;
    }

  }



}
