@import "../../styles/mixin";

.business-page {
  width: 100%;
  height: 100vh;
  position: relative;

  .meal-scroll {
    width: 100%;

    .config-item {
      margin: 0 12px;
      width: auto;

      .config-image {
        width: 100%;
        height: auto;
        display: block;

        img,image {
          display: block;
        }
      }
    }

  }

  .meal-btn {
    width: 100%;
    background: $color-theme;
    text-align: center;
    @include sc(32px, $color-white);
  }

  .popup-layout {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1010;
    visibility: hidden;
    transition: visibility 300ms cubic-bezier(0.36, 0.66, 0.04, 1);

    .business-popup {
      width: 230px;
      height: 428px;
      position: absolute;
      bottom: 115px;
      right: 160px;

      .popup-icon {
        width: 230px;
        height: 428px;
      }

      .popup-content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        @include sc(34px, $color-big);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .popup-item {
          width: 140px;
          height: 70px;
          line-height: 70px;
        }

        .popup-item--border {
          border-bottom: 2px solid $color-line;
        }
      }
    }
  }

  .popup-layout--active {
    visibility: visible;
  }

  .business-add {
    width: 120px;
    height: 120px;
    position: absolute;
    z-index: 1;
    bottom: 270px;
    right: 35px;
  }

}
