@import "../../styles/mixin";

.scroll-container {
  @include sc(15Px, $color-big);
  padding: 9Px;
  height: 200Px;

  .address-scroller {
    display: flex;
    justify-content: space-around;
    position: relative;
    scrollbar: none;

    .area-box {
      width: 90%;
      height: 40Px;
      position: absolute;
      z-index: 1;
      top: 80Px;
      border: dashed 1Px #f00;
    }

    .area-container {
      width: 112Px;
      height: 200Px;
      scrollbar: none;

      .area-list {
        width: 100%;
        padding-top: 80Px;
        padding-bottom: 80Px;

        .area-item {
          width: 100%;
          height: 40Px;
          text-align: center;
          line-height: 40Px;
          cursor: pointer;
        }
      }
    }
  }
}



