@import "../../styles/mixin";

.pdd-page {
  width: 100%;
  background: $color-bg;

  .search-btn {
    width: 100%;
    font-size: 30px;
    background: $color-white;
    display: flex;
    align-items: center;
    justify-content: center;

    .search-input {
      width: 93%;
      height: 65px;
      background: $color-bg-2;
      @include flex-wrap;
      justify-content: center;
      border-radius: 15px;

      .search-icon {
        margin-left: 6px;
      }

      .search-value {
        margin-left: 6px;
        font-size: 26px;
        color: $color-input;
      }
    }
  }

  .pdd-search-btn {
    width: 100%;
    font-size: 30px;
    background: $color-white;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .pdd-search {
      width: 81%;
      height: 65px;
      background: $color-bg-2;
      @include flex-wrap;
      justify-content: flex-start;
      border-radius: 15px;

      .pdd-search-icon {
        margin-left: 20px;
      }

      .pdd-search-value {
        margin-left: 15px;
        font-size: 26px;
        color: $color-input;

        .goods-input {
          height: 40px;
          width: 530px;
          color: $color-big;
        }

      }

    }

    .btn-search {
      width: 15.5%;
      height: 60px;
      line-height: 60px;
      text-align: center;
      @include sc(32px, $color-big);
    }
  }

  .opt-btn {
    width: 100%;
    background: $color-bg;
    display: flex;
    align-items: center;
  }

  .goods-container {
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background: $color-white;

    .sort-btn {
      width: 100%;
      display: flex;
      align-items: center;
    }

    .goods-scroll {
      width: 100%;
    }

  }

}

.goods-list {
  margin: 0 15px;
  width: auto;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  .goods-item {
    margin-top: 10px;
    width: 352px;
    height: 560px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    .goods-icon {
      width: 352px;
      height: 352px;
    }

    .goods-name {
      width: 352px;
      height: 70px;
      margin-top: 5px;
      line-height: 35px;
      @include sc(24px, $color-big);
      @include rowWrap(2);
    }

    .goods-data-1 {
      width: 352px;
      height: 60px;
      line-height: 48px;
      display: flex;
      align-items: center;
      justify-content: flex-start;

      .goods-coupon {
        width: 50px;
        height: 40px;
        line-height: 43px;
        border: 4px solid $color-theme;
        text-align: center;
        background-color: $color-theme;
        @include sc(26px, $color-white);
      }

      .coupon-money {
        padding: 0 8px;
        height: 40px;
        line-height: 43px;
        border: 4px solid $color-theme;
        max-width: 100px;
        overflow: hidden;
        text-overflow: ellipsis;
        @include sc(26px, $color-theme);
      }

      .goods-sale {
        height: 48px;
        line-height: 46px;
        margin-left: 20px;
        max-width: 158px;
        color: $color-small;
        @include ellipsis;
        @include sc(30px, $color-small);
      }
    }

    .goods-data-2 {
      width: 352px;
      height: 70px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .goods-price {
        width: 50%;
        height: 50px;
        line-height: 50px;
        @include sc(40px, $color-big);
        @include ellipsis;
      }

      .goods-comm {
        width: 40%;
        height: 50px;
        text-align: center;
        line-height: 50px;
        border-radius: 5px;
        background-color: $color-theme;
        @include sc(30px, $color-white);
        @include ellipsis;
      }
    }
  }

}


