@import "../../styles/mixin";

.mine-page {
  width: 100%;
  background: $color-bg;
  position: relative;

  .user-info {
    width: 100%;
    background: $color-white;

    .user-base-info {
      height: 150px;
      margin-left: 85px;
      display: flex;
      align-items: center;

      .avatar {
        width: 120px;
        height: 120px;
        border-radius: 50%;
      }

      .info {
        width: 314px;
        margin-left: 20px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;

        .nickname {
          width: 100%;
          height: 50px;
          line-height: 50px;
          @include sc(30px, $color-big);
          white-space: nowrap;
          overflow: hidden;
        }

        .auth-btn {
          width: 110px;
          height: 34px;
          line-height: 34px;
          @include sc(24px, $color-white);
          text-align: center;
          background: $color-theme;
          border-radius: 17px;
        }
      }

      .user-msg {
        width: 170px;
        height: 100%;
        //margin-left: 222px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .msg-btn {
          width: 70px;
          height: auto;
        }

        .address-info {
          height: 36px;
          line-height: 36px;
          text-align: center;
          @include sc(30px, $color-small);
        }
      }

    }

    .user-data-info {
      width: 100%;
      height: 100px;
      display: flex;
      align-items: center;
      justify-content: space-around;

      .data-item {
        width: 250px;
        text-align: center;

        .data-num {
          @include sc(30px, $color-big);
        }

        .data-desc {
          @include sc(26px, $color-small);
        }
      }

    }
  }

  .data-column {
    width: 100%;
    overflow-y: scroll;

    .column-item {
      padding: 0 25px 0 28px;
      height: 100px;
      background: $color-white;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 2px solid $color-line;

      .column-left {
        height: 100%;
        display: flex;
        align-items: center;

        .column-icon {
          width: 36px;
          height: auto;
        }

        .column-name {
          margin-left: 32px;
          @include sc(30px, $color-big);
        }
      }

      .column-right {
        height: 100%;
        display: flex;
        align-items: center;

        .wallet-money {
          display: inline-block;
          @include sc(30px, $color-theme);
          font-weight: bold;
          margin-right: 20px;

          .money-name {
            margin-left: 5px;
            display: inline-block;
            color: $color-small;
          }
        }

        .task-sign {
          width: 16px;
          height: auto;
          margin-right: 20px;
        }

        .column-right-btn {
          width: 24px;
          height: auto;
        }
      }

    }

    .column-item:first-child {
      margin-top: 10px;
    }

  }

  .address-btn {
    position: absolute;
    width: 110px;
    height: 110px;
    bottom: 80px;
    right: 40px;
    z-index: 2;
  }

}
