@import "../../styles/mixin";

.wallet-page {
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  background: $color-bg;

  .wallet-data {
    height: 210px;
    padding: 24px 28px;
    border-bottom: 2px solid $color-line;
    background: $color-white;
    position: relative;

    .bg-icon {
      width: 100%;
      height: 100%;
      border-radius: 30px;
    }

    .user-wallet {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-around;
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;

      .item-data {
        width: 49%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .item-desc {
          @include sc(28px, $color-white);
        }

        .item-num {
          @include sc(50px, $color-white);
        }

      }
    }



    .line {
      margin-top: 15px;
      height: 60px;
      width: 1Px;
      background: $color-white;
    }

  }

  .column-item {
    padding: 0 25px 0 30px;
    height: 100px;
    background: $color-white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid $color-line;

    .column-left {
      height: 100%;
      display: flex;
      align-items: center;

      .column-icon {
        width: 36px;
        height: auto;
      }

      .column-name {
        margin-left: 32px;
        @include sc(30px, $color-big);
      }

      .at-column {
        margin-left: 24px;
      }
    }

    .column-right {
      height: 100%;
      display: flex;
      align-items: center;

      .column-right-btn {
        width: 24px;
        height: auto;
      }
    }
  }

}
